
*{
    font-family:'Rajdhani',Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;

}


.menu-bar
    {
        text-align: center;
        background-color: rgb(0, 47, 100);
        position:fixed ;
        width: 100%;
        min-height: min-content;
    }
    .menu-bar ul
    {
             display: inline-flex;
             list-style: none;
             color: #fff;
    }
    .menu-bar ul li
    {
        width: 120px;
        margin: 10px;
        padding: 10px;
    }
    .menu-bar li a
    {
    text-decoration: none;
    color:#fff
    }
    .menu-bar li a:hover
    {
    text-decoration: none;
    color:tomato;
    }
    

.content{
   padding:15px;
   background-color: rgb(150, 13, 204);

}

    .feature{
        font-size: 150%;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7
    {
        padding: 20px;
        border: 2px solid black;  
        width: 75%;  
    }

        .box1{
            background-color: skyblue;
        }
        .box2{
            background-color: blue;
        }
        .box3{
            background-color:brown
        }
        .box4{
            background-color: rgb(247, 247, 35);
        }
        .box5{
            background-color: pink;
        }
        .box6{
            background-color: red;
        }
        .box7{
            background-color:burlywood
        }

        .feature_link a{
            text-decoration: none;
        }
        .feature_link a:hover{
            color: tomato;
        }


.below{
    background-color: rgb(130, 216, 81);
}

    .table{
        padding: 7px;
    }
    .table p{
            text-align: center;
            font-size: 150%;
        }

    .table table{
            margin-left: auto;
            margin-right: auto;
    }

    .table th{
            border: 2px solid black;
            padding: 7px;
            background-color: #ccc;
    }

    .table td{
            padding: 7px;
    }


.back
    {   
        padding:7px;
        display: flex;
    }
   

    .search 
        {   
            position:absolute;
            left: 40%;
        }
    input
        {
            border: 3px solid rgb(19, 219, 209);
            height: 25px;
            width: 200px;
        }


.bar{
        background-color:rgb(0,100,0) ;
        text-align: center;
        padding:5px;
     }

    button{
        cursor: pointer;
        padding:7px;
        color:#fff; 
        background-color:rgb(0,100,0); 
    }

    
.DESIGN{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


    
    
    
    
    
    